.sidebar {
  width: 240px;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    #f59e0b,
    #7e22ce,
    #2148d8
  );

  padding: 20px;

  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.menu-item {
  text-decoration: none;
  color: white;

  padding: 14px;
  margin-bottom: 12px;

  border-radius: 12px;

  background: rgba(255, 255, 255, 0.15);

  transition: all 0.3s ease;
}

.menu-item:hover {
  background: white;
  color: #7e22ce;

  transform: translateX(5px);
}